.page{
   justify-content: center;
   outline: none;
   padding: 0;
   margin: 0 auto;
   background-color: #2A2C2F;
   color: #FFF;
   vertical-align: baseline;
   overflow-x:hidden;
}
@media (max-width: 1024px){
   .header{
      max-width: 1024px;
   }
}
@media (max-width: 768px){
   .header{
      max-width: 768px;
   }
}
@media (max-width: 320px){
   .header{
      max-width: 320;
   }
}