.page{
   justify-content: center;
   padding: 0;
   margin: 0;
   background-color: #2A2C2F;
   color: #FFF;
   vertical-align: baseline;
}

@media (max-width: 320px){
   .page{
      width: 100%;
   }
}