.place__paragraph {
   width: 100%;
   font-family: "Inter", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 29.34px;
   margin: 0;
   text-decoration: none;
   margin-bottom: 26px;
}
.place__paragraph:nth-of-type(2n) {
   margin-bottom: 0;
}
.place__paragraph:nth-of-type(2n-1):last-of-type {
   margin-bottom: 0;
}
@media (max-width: 768px) {
   .place__paragraph {
      box-sizing: border-box;
      text-align: left;
      font-size: 16px;
      line-height: 26.08px;
      margin-bottom: 25px;
   }
}

@media (max-width: 480px) {
   .place__paragraph {
      padding-right: 16px;
      padding-left: 16px;
   }

   .place__paragraph:nth-of-type(2n) {
      margin-bottom: 0;
   }
   .place__paragraph:nth-of-type(2n-1):last-of-type {
      margin-bottom: 0;
   }
}
