.intro{
   max-width: 690px;
   display: flex;
   flex-direction: column;
   padding-left: 148px;
   padding-top: 64px;
   margin-bottom: 92px;
}
@media (max-width: 768px){
   .intro{
      padding: 0;
   }
}