.cover {
  max-width: 1184px; 
  max-height: 740px;
  margin: 92px auto 0;
  text-align: center;
}

@media (max-width: 1124px) {
  .cover {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 984px) {
  .cover {
    margin: 90px 0 0;
  }
}
@media (max-width: 568px) {
  .cover {
    margin: 66px 0 0;
  }
}
