.place{
   max-width: 984px;
   display: grid;
   grid-template: max-content 460px / 460px 484px;
   column-gap: 40px;
   margin: 0 auto;
   padding-top: 80px;
}
@media (max-width:1024px) {
   .place{
      grid-template-columns: 440px 456px;
   }
}
@media (max-width:768px) {
   .place{
      grid-template-columns: 340px 352px;
   }
}
@media (max-width:320px) {
   .place{
      display: flex;
      flex-direction: column;
   }
}